body{
  background-color: #C9DAEA;
  font-family:helvetica, tahoma, sans-serif;
  text-align: center;
}

/* Headings */

.header-1 {
  color: #0054A3;
  font-weight: bold;
  text-align: left;
  padding: 0 20px;
}

.header-2 {
  color: #ffff;
  font-weight: bold;
  text-align: left;
  padding: 0 20px;
}

/* Links */

.a1{
  color: #0054A3;
  text-decoration: none;
}

.a1:hover{
  color: #14213d;
  text-decoration: none;
}

.a2{
  color: #ffff;
  text-decoration: none;
}

.a2:hover{
  color: #ced4da;
  text-decoration: none;
}

/* Divisor */

hr {
  border: 6px dotted grey;
  border-bottom: none;
  width: 4%;
  margin: 0 auto;
}

hr:hover {
  border-color: #0054A3;
}

/* Text Format */

.p-grey{
  color: #ced4da;
}

.text-center {
  text-align: center;
}

.text-just{
  text-align: justify;
}

.top-margin{
  margin-top: 2rem;
}

/* Nav Bar */

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1rem;
}

/* Profile */

.profile-img {
  height: 200px;
  width: auto;
  display: block;
  margin: 40px auto 20px auto;
  border-radius: 100%
}

.name{
  font-weight: bold;
}

.position {
  color: #0054A3;
  font-weight: bold;
}

.p1 {
  font-weight: normal;
  width: 70%;
  margin: auto;
  padding-bottom: 3rem;
  line-height: 2;
  font-size: 1.2rem;
}

/* Educación */

.tec-img{
  height: 100px;
  border-radius: 100%;
  margin: 3rem 0 2rem;
}

.utsa-img{
  height: 50px;
  margin: 5rem 0 3rem;
}

/* Experiencia Profesional */

.amez-img{
  height: 60px;
  display: block;
  margin: 2rem auto;
}

.gbm-img{
  height: 140px;
  display: block;
  margin: 0 auto;
}

/* Habilidades */
.carousel{
  padding: 4rem 0;
}

.carousel-inner{
  height: 12rem;
}

#skill-carousel-1{
  padding-bottom: 0;
}

#skill-carousel-2{
  padding-bottom: 0;
}

.skill-title{
  color: #ffff;
  font-weight: bold;
  margin: 3rem 0 0;
}

.icon{
  color: #ced4da;
}

.icon-1{
  color: #ffff;
}

/* Software */

.software-title{
  color: #ffff;
  font-weight: bold;
  margin: 0 0 3rem;
  border: none;
}

.excel-img{
  padding: 35px 0 35px 0;
}

.r-img{
  padding: 25px 0 25px 0;
}

.bloomberg-img{
  height: auto;
  width: 100px;
}

.card-title{
  color: #ffff;
  font-weight: bold;
}

.card-img-top{
  margin-top: 0;
  display: block;
  margin: auto;
  height: 140px;
  width: auto;
}

/* Contact Me */

.btn{
  margin:10rem 0 2rem 0;
}

.a-mail{
  color: #ffff;
  text-decoration: none;
}

.a-mail:hover{
  color: #ffff;
  text-decoration: none;
}

/* Bottom */

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

#bottom .icon{
  padding:0 30px 20px;
}

/* Sections */
.colored-section{
  background-color: #343a40;
}

.section-padding{
  padding: 2rem 0;
}

#educacion{
  margin-top: 4rem;
}

#libros{
  margin-bottom: 4rem;
}

#contact-me{
  padding-bottom: 20px;
}

#bottom{
  padding: 50px 0 20px 0;
}

@media (max-width: 500px) {

  .profile-img {
    width: 40%;
    height: auto;
    display: block;
    margin: 40px auto 20px auto;
    border-radius: 100%
  }

  .name{
    font-size: 2rem;
  }

  .position{
    font-size: 1.5rem;
  }

  .p1{
    text-align: justify;
    font-size: 1 rem;
    width: 90%;
    line-height: 1.5;
  }

  .amez-img{
    width: 80%;
    height: auto;
  }

  .gbm-img{
    width: 65%;
    height: auto;
  }



  .excel-img{
    padding: 25px 0;
  }

  .r-img{
    padding: 20px 0;
  }

  .bloomberg-img{
    height: 50px;
    height: auto;
  }

  .reuters-img{
    height: 50px;
    width: auto;
  }

  .card-img-top{
  height: 100px;
  }

  .card-body{
    font-size: 1rem;
  }

  .software-container{
    padding: 0;
  }

}
